* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: neue-haas-grotesk-display;
  font-weight: 600;
  font-style: normal;
  padding: 5rem;
}

h1, h2, h3, h4, h5, h6,
p, ol, ul {
  margin-bottom: 1rem;
}

.font-size-lead {
  font-size: 4rem;
  margin-bottom: 2rem;
}

[contenteditable]::focus {
  outline: none;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Bold.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Regular.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Light.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Semi.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Bold.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Semi.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Light.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Regular.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linsingen Vintage';
  src: url('/fonts/linsingen/subset-LinsingenVintage-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenVintage-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linsingen Moderna';
  src: url('/fonts/linsingen/subset-LinsingenModerna-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenModerna-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linsingen Stencil';
  src: url('/fonts/linsingen/subset-LinsingenStencil-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenStencil-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
