* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
  font-family: neue-haas-unica;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body.homepage {
  color: #000;
}

.font-weight-light {
  font-weight: 300;
}

main {
  padding: 5vw;
}

body > footer {
  height: 300px;
  background-image: linear-gradient(rgba(0,0,0,0) 70%, #f33 170%);
  display: flex;
  align-items: center;
  font-size: .8em;
  justify-content: center;
}

body > footer a {
  margin-left: 4em;
  margin-right: 4em;
}

h1 {}

h1, h2, h3, h4, h5, h6,
p, ol, ul {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

}

a:hover {
  color: #f33;
}

body.homepage a:hover {
  color: rgba(0,0,0,0.5);
}

img {
  display: block;
  max-width: 100%;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.viewport {
  height: 100vh;
}
.viewport-50 {
  height: 50vh;
}

.project-thumb {
  margin-bottom: 300px;
}
.project-headline-homepage {
  margin-bottom: 4em;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.align-self-center {
  align-self: center
}
.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }
.text-uppercase {
  text-transform: uppercase;
}

.mb-0 {
  margin-bottom: 0;
}

.project-thumbnail {
  display: block;
  position: relative;
}

.project-thumbnail header {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5vh;
  width: 50%;
}

.project-thumbnail img {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

.project-thumbnail-alt header {
  right: unset;
}

.project-thumbnail-alt img {
  margin-left: auto;
}

.font-size-lead {
  font-size: 4vw;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.project-page-type-tester {
  margin-bottom: 200px;
}

.wip-header {
  font-family: goldenbook, serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  width: 100%;
  height: 540px;
}
.wip-header #logo {
  position: fixed;
  left: 0;
  width: 100%;
}
.wip-header #logo-space {
  height: 7vw;
  margin-bottom: 1em;
}
.wip-header #logo {
  margin: 0 auto;
}

.wip-layout {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wip-layout img {
  max-width: 30vw;
  margin: 0 5em;
  margin-bottom: 10vw;
}

.wip-layout .image-container {
  height: 75vw;
  display: flex;
}
.wip-layout .image-container img {
  align-self: flex-start;
}
.wip-layout .image-container:nth-child(2n) img {
  align-self: center;
}

#logo img {
  width: 7vw;
}
.homepage-logo {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  background: #000;
  height: 7vw;
  border-radius: 50%;
  overflow: hidden;
}
.project-page-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

article > div {
  margin-bottom: 2rem;
}


.font-grid {
  display: flex;
  flex-wrap: wrap;
}
.font-grid > span {
  display: block;
  width: 7.1%;
  padding-bottom: 7.1%;
  position: relative;
}
.font-grid > span.mini {
  width: 5.1%;
}
.font-grid > span > i {
  font-style: normal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Bold.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Regular.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Light.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Text';
  src: url('/fonts/massimo/subset-MassimoText-Semi.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoText-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Bold.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Semi.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Light.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Massimo Display';
  src: url('/fonts/massimo/subset-MassimoDisplay-Regular.woff2') format('woff2'),
      url('/fonts/massimo/subset-MassimoDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linsingen Vintage';
  src: url('/fonts/linsingen/subset-LinsingenVintage-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenVintage-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linsingen Moderna';
  src: url('/fonts/linsingen/LinsingenModerna-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Linsingen Moderna';
  src: url('/fonts/linsingen/subset-LinsingenModerna-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenModerna-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Linsingen Stencil';
  src: url('/fonts/linsingen/subset-LinsingenStencil-Regular.woff2') format('woff2'),
      url('/fonts/linsingen/subset-LinsingenStencil-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.font-editor {
  display: flex;
  flex-direction: column;
}

.font-editor-controls {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.font-editor-controls .select,
.font-editor-controls .multi-select,
.font-editor-controls .toggle-alignment,
.font-editor-controls input[type="range"] {
  display: none;
}

.font-editor-controls .item {
  margin-right: 40px;
}

.font-editor-controls .select {
  white-space: nowrap;
  position: relative;
  height: 30px;
  cursor: default;
  user-select: none;
}
.font-editor-controls .select .current-option {
  display: inline-block;
  position: relative;
  padding-right: 50px;
}
.font-editor-controls .select .current-option::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 0;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  pointer-events: none;
}
.font-editor-controls .select.is-active .current-option::after {
  display: none;
}
.font-editor-controls .multi-select {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: default;
  user-select: none;
}
.font-editor-controls .opentype-icon {
  width: 40px;
  height: 40px;
  background: url('/images/ui/o-type.svg');
  background-size: 40px 40px;
  background-position: center;
}
.font-editor-controls .select-options,
.font-editor-controls .multi-select-options {
  display: none;
  position: absolute;
  background: #000;
  padding: 0 20px;
}
.font-editor-controls .select-options {
  margin-left: -20px;
  width: auto;
}
.font-editor-controls .multi-select-options {
  right: -20px;
  width: 300px;
  top: 40px;
}
.font-editor-controls .select.is-active .select-options,
.font-editor-controls .multi-select-options.is-active  {
  display: block;
}

.font-editor-controls .select-options div,
.font-editor-controls .multi-select-options div {
  transition: color 0.1s ease-in-out;
}

.font-editor-controls .select-options div:hover {
  color: #f33;
}

.font-editor-controls div,
.font-editor-controls .select-options div,
.font-editor-controls .multi-select-options div {
  min-height: 45px;
}
.font-editor-controls .multi-select-options div {
  display: flex;
  justify-content: flex-end;
  opacity: .3;
  transition: all .2s ease-in-out;
}
.font-editor-controls .multi-select-options div.is-active {
  opacity: 1;
}
.font-editor-controls .multi-select-options div:not(.is-active):hover {
  opacity: .5;
}

.font-editor-controls .toggle-alignment {
  margin-left: 40px;
  width: 100px;
  align-items: center;
  justify-content: space-around;
}
.font-editor-controls .toggle-alignment .left,
.font-editor-controls .toggle-alignment .center {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.font-editor-controls .toggle-alignment .left {
  background-image: url('/images/ui/left-align.svg');
}

.font-editor-controls .toggle-alignment .center {
  background-image: url('/images/ui/center-align.svg');
  opacity: .3;
}

.font-editor-controls .toggle-alignment.is-active .left {
  opacity: .3;
}

.font-editor-controls .toggle-alignment.is-active .center {
  opacity: 1;
}

.font-editor-controls input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  margin-right: auto;
  height: 1px;
  border-radius: 5px;
  background: #fff;
  outline: none;
}

.font-editor-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.font-editor-controls input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.font-editor:hover .hover-transition,
.project-thumb:hover .hover-transition {
  opacity: 1;
  top: 0;
}

.hover-transition {
  opacity: 0;
  position: relative;

  top: 40px;
  transition: all .3s ease-in-out;
}


/* Modal */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10vw;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-active {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  pointer-events: unset;
}
.backdrop img {
  position: absolute;
  max-height: 100%;
}


/* D E S K T O P  E N H A N C E M E N T S */

@media screen and (min-width: 800px) {
  body {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2.5vw;
  }
  h6 {
    font-size: 1.5vw;
  }

  .font-editor-controls .select,
  .font-editor-controls .multi-select,
  .font-editor-controls .toggle-alignment {
    display: flex;
  }

  .font-editor-controls input[type="range"] {
    display: unset;
  }
}
