{% assign typeface = include.typeface %}
{% assign opentype_features = typeface.opentype_features | join: ', ' %}
<style>
  {% for font_option in typeface.font_options %}
    @font-face {
      font-family: {{  font_option[1].family  }};
      src: url('{{ font_option[1].font_file }}') format('woff');
      font-weight: {{ font_option[1].css_font_weight }};
      font-style: {{ font_option[1].css_font_style }};
    }
  {% endfor %}
</style>
<div
  class="font-editor"
  data-typeface-name="{{ typeface.title }}"
  data-font-options='{{ typeface.font_options | jsonify }}'
  data-opentype-features="{{ opentype_features }}"
  data-default-font-option="{{ include.default_font_option }}"
  data-default-text="{{ include.default_text }}"
  data-is-advanced="{{ include.advanced }}"
>
</div>
