<div class="font-editor-controls">
  {% if include.families %}
    <div class="font-editor-control select-wrapper">
      <select
        class="font-editor-family"
        data-target="{{ include.target }}"
      >
        {% assign families = include.families | split: ", " %}
        {% for family in families %}
          <option value="{{ family }}">{{ family }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% if include.weights %}
    <div class="font-editor-control select-wrapper">
      <select
        class="font-editor-weight"
        data-target="{{ include.target }}"
      >
        {% assign weights = include.weights | split: ", " %}
        {% for weight in weights %}
          <option value="{{ weight }}">{{ weight }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  <div class="font-editor-control d-flex align-items-center">
    <input
      class="font-editor-size"
      type="range"
      min="5"
      max="10"
      increment="0.01"
      data-target="{{ include.target }}"
      value="10"
    />
  </div>
</div>
