---
layout: base
---

<a href="/wip" id="logo" class="homepage-logo">
  <img src="/svgs/logo.svg" alt=""/>
</a>

<div class="viewport font-size-lead">
  {{ content }}
</div>

{% assign projects = site.projects | sort: "position", "last" %}
{% for project in projects %}
  {% if project.typeface %}
    {% assign typeface = site.typefaces | where: "title", project.typeface | first %}
    {% assign font_options = typeface.font_options | jsonify %}
    {% assign type_tester = typeface.homepage_type_tester %}
    <article>
      {% include font-editor.html typeface=typeface default_font_option=type_tester.font_option default_text=type_tester.default_text advanced=false %}
      <footer>
        <p class="text-uppercase"><a href="{{ project.url }}">View project</a></p>
      </footer>
    </article>
  {% else %}
    {% assign class_name = "project-thumbnail" %}
    {% if project.project_cover_image_left %}
      {% assign class_name_alt = "project-thumbnail-alt" %}
    {% endif %}
    <div class="project-thumb d-flex">
      <div class="w-100 align-self-center">
        <a class="{{ class_name }} {{ class_name_alt | default: '' }}" href="{{ project.url }}">
          <img src="{{ project.project_cover_image }}" alt="" />
          <header>
            <h1 class="mb-0">{{ project.project_name }}</h1>
            <h6 class="project-headline-homepage">{{ project.project_headline_homepage | default: project.project_headline }}</h6>

            <div class="hover-transition">
              <div class="d-flex text-uppercase">
                <div class="w-50">
                  <h6 class="mb-0">Creative Field</h6>
                  <p class="font-weight-light">{{ project.project_creative_field }}</p>
                </div>
                <div class="w-50">
                  <h6 class="mb-0">Client</h6>
                  <p class="font-weight-light">{{ project.project_client }}</p>
                </div>
              </div>
              <p class="text-uppercase">View project</p>
            </div>
          </header>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
